<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <%- include('header') %>
  </head>
  <body>
    <div class="container">
      <p>
        Pesan tiket liburanmu sekarang! Aplikasi ini bertujuan untuk memudahkan
        turis dalam memesan tiket liburan mulai dalam hal pencarian informasi
        tempat wisata, sampai dengan harga dari tiket liburan tersebut, semuanya
        tersentralisasikan dalam satu aplikasi ini. Sehingga pengguna tidak
        perlu mencari informasi di situs - situs lain.
      </p>
      <p>
        Anda dapat mengecek Tab Destination untuk melihat apa saja destinasi
        wisata yang dapat dikunjungi, Tickets untuk melihat tiket apa saja yang
        laris dijual, dan Tab Tourist untuk melakukan pembuatan akun serta
        mengecek tiket yang sudah dipesan
      </p>
      <p>Rencanakan liburanmu sekarang, dan selamat berlibur!</p>
    </div>
  </body>
  <footer class="container"><%- include('footer') %></footer>
</html>
