<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <%- include('header') %>
  </head>
  <body>
    <div class="container">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Est eum, maxime
        tenetur placeat, ipsum, nihil et voluptatibus quisquam distinctio enim
        impedit. Inventore, veniam. Blanditiis eius velit sequi ipsam
        exercitationem. Tempore! Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Est eum, maxime tenetur placeat, ipsum, nihil et
        voluptatibus quisquam distinctio enim impedit. Inventore, veniam.
        Blanditiis eius velit sequi ipsam exercitationem. Tempore! Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Est eum, maxime tenetur
        placeat, ipsum, nihil et voluptatibus quisquam distinctio enim impedit.
        Inventore, veniam. Blanditiis eius velit sequi ipsam exercitationem.
        Tempore!
      </p>
    </div>
  </body>
  <footer class="container"><%- include('footer') %></footer>
</html>
